html {
    height: 100%;
}
body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    color: #666666;
}

body .container {
    height: 100%;
    width: 100%;
}
body .form-container,
body .instructions {
    height: auto;
    max-width: 600px;
    margin: 0 auto;
    padding-top: 50px;
    text-align: center;
    vertical-align: middle;
}

body .logo {
    margin: 0 auto;
    text-align: center;
}

body button {
    color: #4183D7;
    background: #E4F1FE;
}

body .instructions {
    color: #4183D7;
}

body input {
    color: #4183D7;
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: #4183D7;
}
::-moz-placeholder { /* Firefox 19+ */
    color: #4183D7;
}
:-ms-input-placeholder { /* IE 10+ */
    color: #4183D7;
}
:-moz-placeholder { /* Firefox 18- */
    color: #4183D7;
}

.popup-box {
    display: none;
    position: fixed;
    width: 20%;
    height: 7%;
    text-align: center;
    margin-left: 40%;
    margin-top: 34.5%;
    background-color: white;
    border: 2px solid #4183D7;
    color: #4183D7;
    border-radius: 10px;
    z-index: 10;
}
#overlay {
    display:none;
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: #4183D7;
    opacity: 0.7;
    z-index: 9;
    left: 0;
    top: 0;
}